canvas {
    background-color: transparent;
}

#mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameFrame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#bobFrame {
    width: 50%;
    height: 100%;
}

#bobContainer {
    width: 100%;
    height: 19%;
}

#bob {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bobEye{
    width: 60px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: gray;
    overflow: hidden;
    position: relative;
    top: 0;
}

.eyeBall{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    background-color: black;
    transform: translate(-50%, -50%);
}

#bobFactContainer {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 15s ease-in-out infinite;
    padding: 40%, 0 , 40%, 0;
}


#bobFact {
    height: fit-content;
    text-align: center;
    transition: font-size 1s ;
    transform: translatey(0px);
    position: absolute;
}

#bobFact:hover {
    font-size: larger;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(30px);
	}
	100% {
		transform: translatey(0px);
	}
}

 #trueFrame, #falseFrame {
    position: relative;
    top: 10%;
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
} 

#trueContainer, #falseContainer {
    height: 100%;
    width: 100%;
    opacity: 100%;
}

.popup_background {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    z-index: 6;
    background-color: cornsilk;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup_background {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    z-index: 6;
    background-color: cornsilk;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}